[Unit]
Description=Periodically synchronize missing Sane icon-theme application icons

[Timer]
OnStartupSec=2min
OnCalendar=hourly
RandomizedDelaySec=10min
Persistent=true
Unit=sane-icon-sync.service

[Install]
WantedBy=timers.target
